@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* NAVBAR */

.Nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.searchbar {
  width: 100%;
}

/* HOMEPAGE */

.homepage {
  background-color: blue;
  display: flex;
  justify-content: space-around;
}
